body {
    margin: 0;
}

/*SERVICES__NAVIGATION*/
.navigation {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A0F1BD;
}

.link__green {
    display: inline-flex;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #2E4F21;
    border-radius: 51.57px;
    box-sizing: border-box;
}

.btn__mobile {
    display: none;
}

.button__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


                            /*HEADER*/
.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 40px;
    display: flex;
    gap: 80px;
    background-color: #F9F9F9;
}

.services__header__right__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.services__header__title {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.services__break__image {
    max-width: 1280px;
    margin: 0 auto;
}

                            /*HOW-IS-WORKS*/
.how-is-works {
    max-width: 1120px;
    margin: 0 auto;
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #C7C7C7;
}

.how-is-works__intro {
    display: flex;
    flex-direction: column;
    gap: 28.04px;
    padding-bottom: 100px;
}

.how-works__card {
    display: flex;
    justify-content: space-between;
}

.right__info__card {
    padding: 24px 0 80px 80px;
    display: flex;
    gap: 70px;
}

.title__right__card {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

                            /*PHILOSOPHY*/
.philosophy {
    max-width: 980px;
    padding: 100px 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.philosophy__card {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #D2F8DC;
    border-radius: 20px;
}

.title__philosophy {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

                            /*CALCULATOR*/
.calculator {
    max-width: 1200px;
    padding: 80px 40px;
    margin: 0 auto;
    display: flex;
    background-color: #F4F7F5;
}

.calculator__info {
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    align-self: center;
}

                            /*FOOTER*/

.footer {
    max-width: 1200px;
    max-height: 346px;
    margin: 0 auto;
    padding: 32px 40px;
    background-color: #2E4F21;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left__info__foot {
    display: flex;
    flex-direction: column;
    gap: 236px;
}

.right__info__foot {
    display: flex;
    flex-direction: column;
    gap: 232px;
}

.logo__footer {
    width: 174.7px;
}

.footer__mobile {
    display: none;
}